<div id="center">
    <ul class="hexagon-container">
              <!-- Espaçamento -->
              <li class="hexagon">
                  <p>Projeto feito como etapa processo seletivo do estágio da <a href="https://www.bemind.com.br/" target="_blank">Bemind</a></p>
              </li>
              <li class="hexagon">
                  <p>Framework utilizado: <a href="https://angular.io/guide/quickstart" target="_blank">Angular</a></p>
              </li>
              <li class="hexagon start-pause" (click)="redirectGit()">
                  <p>Clique aqui para ir para o repositório</p>
              </li>
              <li class="hexagon start-pause" routerLink="/">
              	<p>Voltar para página inicial</p>
              </li>
    </ul>
</div>