* {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 10vw; 
  --hex-between: 1vw;
  
  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all .2s ease;
  --color-hex-default:#312f17;

  background-color: transparent;
}

#hide {
  position:absolute;
  left:-9999px
}

.start-pause{
    cursor: pointer;
}

/* Hexagons */
.hexagon-container {
  margin-top: 5vh;
  width: 81vw;
  max-height: 95vh;
  padding: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  display: grid;
  grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width) var(--hex-width);
  grid-auto-rows: calc(var(--hex-width) - 1vw);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}

/*Os hexagonos sao feitos atraves de divs com bordas alteradas e sobrepostas*/
.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);  
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
  color: #eec33d;
  font-size: 1.5vw;
  text-align: center;
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}
.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}

/* Aqui e o que permite que os hexagonos se encaixem bem*/
.hexagon:nth-child(14n + 8),
.hexagon:nth-child(14n + 9),
.hexagon:nth-child(14n + 10),
.hexagon:nth-child(14n + 11),
.hexagon:nth-child(14n + 12),
.hexagon:nth-child(14n + 13),
.hexagon:nth-child(14n + 14){
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hexagon h1{
    color: #eec33d;
    font-size: 1.6vw;
    font-weight: bold;
    text-align: center;
}

.hexagon-clear {
  align-items: center;
  background-color: transparent;  
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
  color: #eec33d;
  font-size: 1.5vw;
  text-align: center;
}

.hexagon-clear::after,
.hexagon-clear::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: "";
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}
.hexagon-clear::after {
  border-top: var(--hex-border) solid transparent;
  top: 100%;
  width: 0;
}
.hexagon-clear::before {
  border-bottom: var(--hex-border) solid transparent;
  bottom: 100%;
}