<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<ul class="hexagon-container">
          <!-- Espaçamento -->
          <li class="hexagon-clear">
              <p></p>
          </li>
          <!-- Espaçamento -->
          <li *ngIf="!stopped" class="hexagon-clear">
              <p></p>
          </li>
          <li *ngIf="stopped" class="hexagon start-pause">
              <p>Quantidade de primos: {{this.numbers.length}}</p>
          </li>   
          <!-- Sobre -->
          <li *ngIf="!started&&!paused" class="hexagon start-pause" routerLink="/info">
              <p><i class="fa fa-info"></i></p>
          </li>
          <!-- Pausar -->
          <li *ngIf="started&&!paused&&!stopped" class="hexagon start-pause" (click)="pause()">
              <p><i class="fa fa-pause"></i></p>
          </li>        
          <!-- Continuar -->
          <li *ngIf="paused&&!stopped" class="hexagon start-pause" (click)="resume()">
              <p><i class="fa fa-play"></i></p>
          </li>
          <!-- Titulo -->
          <li class="hexagon">
              <h1>Colmeia dos Primos</h1>
          </li>
          <!-- Começar -->
          <li *ngIf="!started&&!stopped" class="hexagon start-pause" (click)="start()">
              <p><i class="fa fa-play"></i></p>
          </li>
          <!-- Parar -->
          <li *ngIf="started&&!stopped" class="hexagon start-pause" (click)="stop()">
              <p><i class="fa fa-stop"></i></p>
          </li>
          <!-- Recomeçar -->
          <li *ngIf="stopped" class="hexagon start-pause" (click)="start()">
              <p><i class="fa fa-play"></i></p>
          </li>
          <!-- Baixar -->
          <li *ngIf="stopped" class="hexagon start-pause" (click)="download()">
              <p>Copiar lista de números primos</p>
          </li>
          <!-- Espaçamento -->
          <li class="hexagon-clear">
              <p></p>
          </li>
          <!-- Espaçamento -->
          <li *ngIf="!stopped" class="hexagon-clear">
              <p></p>
          </li>
          <li *ngFor="let p of numbers;trackBy: trackByFn" class="hexagon">
            {{ p }}
          </li>
  </ul>