<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<div id="center">
    <ul class="hexagon-container">
              <!-- Espaçamento -->
              <li class="hexagon">
                  <p>Digite o primo:</p>
              </li>
              <li class="hexagon">
                  <p><input [(ngModel)]="number" type="number"></p>
              </li>
              <li class="hexagon start-pause" (click)="start()">
                <p><i class="fa fa-play"></i></p>
              </li>
              <li *ngIf = "get" class="hexagon start-pause" (click)="redirectGit()">
                  <p>{{ isPrime }}</p>
              </li>
              <li *ngIf = "get" class="hexagon start-pause" routerLink="/">
              	<p>Menor divisor: {{ divi }}</p>
              </li>
    </ul>
</div>